<section class="section section-cta">
  <div class="container">
    <div class="cta-grid">
      <img class="cta-logo" src="/img/cta/Logo_dark.svg" alt="logo" width="76" height="86" />

      <div class="cta-info">
        <h2 class="cta-info-title">Ready to build better habits?</h2>
        <div class="cta-description">
          <p>
            Take control of your daily routines, stay consistent with the goals that matter, and
            build meaningful progress — one habit at a time. With Habitus, you’re just a step away
            from creating a better version of yourself.
          </p>
          <button class="cta-button">Start Tracking – It’s Free</button>
        </div>
      </div>
    </div>
  </div>
</section>
