.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside-slider-track {
  margin-top: 40px;
  width: 0;
  min-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  column-gap: 20px;
}

@media (min-width: 1024px) {
  .inside-slider-track {
    justify-content: center;
  }
}
