<section class="hero-section">
  <div class="container">
    <div class="hero-index">
      <div class="hero-info">
        <h1 class="hero-title">Build Better Habits. One Day at a Time.</h1>
        <p class="hero-description">
          Track your daily routines, stay consistent, and turn goals into habits — all in one beautiful app.
        </p>
      </div>
      <div class="hero-action">
        <a
          href="https://github.com/Hihiz/habitus-landing-page-angular"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-action-started"
        >
          Get Started Free</a
        >
        <a
          href="https://github.com/Hihiz/habitus-landing-page-angular"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-action-watch"
        >
          <img src="/img/hero/arrow.svg" width="12" height="14" alt="" />
          Watch Demo</a
        >
      </div>

      <span class="hero-stat">
        <img src="/img/hero/star.svg" width="18" height="16" alt="" />
        Loved by 1M+ users worldwide
      </span>
    </div>
    <div class="hero-phones">
      <span class="hero-dot dot-light-grey"></span>
      <span class="hero-dot dot-pink"></span>
      <span class="hero-dot dot-light-blue-left"></span>
      <span class="hero-dot dot-light-blue-right"></span>
      <span class="hero-dot dot-dark"></span>
      <span class="hero-dot dot-light-purple"></span>
      <img src="/img/hero/Habit-tracker.png" width="333" height="308" class="phone-left-outer" alt="Habit Tracker" />

      <img src="/img/hero/Settings.png" width="268" height="212" class="phone-left-inner" alt="Habit Settings" />
      <img src="/img/hero/Dashboard.png" width="334" height="192" class="phone-right-outer" alt="Habit Dashboard" />

      <img src="/img/hero/Goals.png" width="256" height="329" class="phone-right-inner" alt="Habit Goals" />
    </div>
  </div>
</section>
